<div class="header">
    <div class="header_left">
        <div class="title">
            <img class="logo_j" src="icons/original.png" alt="">
        </div>
    </div>

    <div class="header_center">
        <div class="search">
            <div>
                <img class="lupe" src="icons/lupe.png" alt="">
            </div>
            <div>
                <input class="input_search" type="text" placeholder="Suchen" id="search">
            </div>
        </div>
    </div>

    <div class="header_right">
        <div class="icons_right">
            <div class="icons_header">
                <img class="icons_h" src="icons/home.png" alt="">
            </div>
            <div class="icons_header">
                <img class="icons" src="icons/senden.png" alt="">
            </div>
            <div class="icons_header">
                <img class="icons" src="icons/plus.png" alt="">
            </div>
            <div class="icons_header">
                <img class="icons" src="icons/kompass.png" alt="">
            </div>
            <div class="icons_header">
                <img class="icons" src="icons/like.png" alt="">
            </div>
            <div class="icons_header">
                <img class="icons" src="icons/user.png" alt="">
            </div>
        </div>
    </div>
</div>
</div>